<div class="container col-md-6 text-center">
    <form method="post" asp-controller="Demo" asp-action="Output">
        Name: <input type="text" required minlength="3" name="name"/>
        Age: <input type = "number" min="1" name="age"/>
        Image: <input type="text" name="image"/>
        <input type="submit" value="Send"/>
    </form>
</div>